.constructor {
    composes: pt-25 pb-13 pl-4 from global;
    max-width: 600px;
}

.header {
    composes: mt-10 mb-10 text text_type_main-medium from global;
    text-align: center;
}

.scroll {
    max-height: 655px;
    min-height: 150px;
}

.scroll_wrapper {
    max-height: 655px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap:16px;
}

.scroll_list {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.scroll_list::-webkit-scrollbar {
    width: 8px;
}

.scroll_list::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.scroll_list::-webkit-scrollbar-track {
    background-color: #2F2F37;
}

.constructor_element {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.order {
    composes: mt-10 mr-2 from global;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.total {
    composes: text text_type_digits-medium from global;
    display: flex;
    align-items: center;
    gap: 8px;
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader_text {
    composes: text text_type_main-default from global;
}
