.wrapper {
    composes: pl-5 from global;
}

.nav {
    display: grid;
    grid-template-rows: repeat(3, 64px);
}

.link {
    composes: text text_type_main-medium from global;
    text-decoration: none;
    display: grid;
    align-items: center;
    color: #8585AD;
}

.link_active {
    composes: link;
    color: #F2F2F3;
}

.caption {
    composes: text text_type_main-small from global;
    margin: 80px 0 0;
    color: #8585AD;
}
