.ingredients {
    max-width: 600px;
}

.header {
    composes: text text_type_main-large mt-10 mb-5 from global;
}

.tabs {
    display: flex;

}

.scroll_container {
    composes: pb-10 from global;
    overflow-y: auto;
    max-height: 664px;
}

.scroll_container::-webkit-scrollbar {
    width: 8px;
}

.scroll_container::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.scroll_container::-webkit-scrollbar-track {
    background-color: #2F2F37;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 24px;
    column-gap: 32px;
}

.cards_header {
    composes: pt-10 pb-6 from global;
    margin: 0;
}
